  <div class="contents row" >
    <p><%= @name %>さんの投稿一覧</p>
    <% @notes.each do |note| %>
      <div class="content_post" style="background-image: url(<%= note.image %>);">
      <p>
        <%= simple_format(note.text) %>
      </p>
        <span class="name"><%#= note.name %></span>
      </div>
    <% end %>
    <%= paginate(@notes) %>
  </div>